{% extends "daraz/base.html" %}
{% block title %}change password here{% endblock title %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
{% block body %}
    <div class="container">
        <h2 class="mt-5">Change Password</h2>
        <form action="{% url "changepass" %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="old_password">Old Password:</label>
                <input type="password" class="form-control" id="old_password" name="old_password" required>
            </div>
            <div class="form-group">
                <label for="new_password1">New Password:</label>
                <input type="password" class="form-control" id="new_password1" name="new_password1" required>
            </div>
            <div class="form-group">
                <label for="new_password2">Confirm New Password:</label>
                <input type="password" class="form-control" id="new_password2" name="new_password2" required>
            </div>
            <button type="submit" class="btn btn-primary">Change Password</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    {% endblock body %}
