{% extends "daraz/base.html" %}
{% block main-content %}{% endblock main-content %}
{% block category %}{% endblock category %}
{% block banner_slider %}{% endblock banner_slider %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title text-center mb-4">Sign Up</h5>
            <form action="" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              
              
               
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label visually-hidden"></label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter your old password">
              </div>
              
              <div class="mb-3">
                <label for="exampleInputPassword2" class="form-label visually-hidden"></label>
                <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Enter your new password">
                <div id="passwordHelp" class="form-text"></div>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword3" class="form-label visually-hidden"></label>
                <input type="password" class="form-control" id="exampleInputPassword"2 placeholder="Confirm your new password">
                <div id="passwordHelp" class="form-text"> </a></div>
              </div>
              
              <button type="submit" class="btn btn-yellow w-100">SAVE</button>
             
             <div class="text-center mt-3">
              <small> Try another way ? <a href="{% url "login" %}" class="link"> Email</a>
              
             </div>

            

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  


{% endblock body %}