{% load static %}
{% block title %}Details of product{% endblock title %}

{% block body %}
<div class="container my-5">
 <div class="row">
    <div class="col-sm-6 text-center align-self-center">
       <img src="{{product.product_image.url}}" %}" alt="" class="img-fluid img-thumbnail">
    </div>
    <div class="col-sm-5 offset-sm-1">
     <h2>Product Title:{{product.title}}</h2>
     <hr>
     <p>Product Description:{{product.description}}
     <h4>price:{{product.discounted_price}} <small class="fw-light text-decoration-line-through"><del>{{product.selling_price}}</del></small> </h4> <br>
     <button type="submit"><a href="{% url "cart" %}" class="btn btn-primary shadow px-5 py-2">Add to Cart </a> </button>
     <button type="submit"> <a href="{% url "buy" %}" class="btn btn-primary shadow px-5 py-2">Buy Now </a> </button>
     <h5 class="mt-5">Available offers </h5>
     <ul>
        <li>Get voucher of discount 100 on minimun 500 price </li>
        <li> Bank offer Get upto 25% discount on visa card </li>
     </ul>
    </div>
</div>
</div>


{% endblock body %}