{% extends "daraz/base.html" %}

{% block title %}eSewa Payment{% endblock title %}

{% block banner_slider %}{% endblock banner_slider %}
{% block main-content %}{% endblock main-content %}
{% block category %}{% endblock category %}

{% block body %}
<div class="container my-5">
    <h2 class="text-center mb-4">eSewa Payment</h2>

    <form action="https://rc-epay.esewa.com.np/api/epay/main/v2/form" method="POST">
        <div class="mb-3">
            <input type="text" id="amount" name="amount" value="{{ amount }}" required>
            <input type="text" id="tax_amount" name="tax_amount" value="0" required>
            <input type="text" id="total_amount" name="total_amount" value="{{ total_amount }}" required>
            <input type="text" id="transaction_uuid" name="transaction_uuid" value="{{ transaction_uuid }}" required>
            <input type="text" id="product_code" name="product_code" value="{{ product_code }}" required>
            <input type="text" id="product_service_charge" name="product_service_charge" value="0" required>
            <input type="text" id="product_delivery_charge" name="product_delivery_charge" value="{{ product_delivery_charge }}" required>
            <input type="text" id="success_url" name="success_url" value="{{ success_url }}" required>
            <input type="text" id="failure_url" name="failure_url" value="{{ failure_url }}" required>
            <input type="text" id="signed_field_names" name="signed_field_names" value="total_amount,transaction_uuid,product_code,secret_key" required>
            <input type="text" id="signature" name="signature" value="{{ signature }}" required>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary">Proceed to Payment</button>
        </div>
    </form>
</div>
{% endblock body %}
