{% extends "daraz/base.html" %}
{% load static %}

{% block title %} category{% endblock title %}

{% block body %}{% endblock body %}
{% block category %}{% endblock category %}
{% block banner_slider %}{% endblock banner_slider %}
{% block main-content %}
<div class="m-3">
  <h2>skincare category</h2>
  {% for s in skincares %}
  <div class="d-flex flex-row flex-wrap">
      <!-- Card 1 -->
    <div class="card text-center m-2" style="width: 12rem;">
      <img src="{{s.product_image}}"    class="card-img-top" alt="" style="height: 200px; object-fit: cover;">
      <div class="card-body">
       <h5 class="card-title fw-bold"> <a href="{% url "detail" %}"> {{s.title}}</a></h5>
       <p class="card-text fs-5">{{s.sellingprice}}</p>
       
     </div>
     </div>
    </div>
      <!-- Card 2 -->
  
 {% endfor %} 
</div>

{% endblock main-content %}
